/* IMPORTATION */
@import "reset.css";

/* CSS START */

/* COULEUR

OR: #f8bd7f
OR HOVER: #c29363
BLEU: #1089ff
BLEU HOVER: #0e69c2
GRIS: #f6f5f5

*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: #171e2b;
    color: white;
}
.loading {
    width: 100%;
    background-color: #171e2b;
}
.loading img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.notrames {
    display: none;
}
.trames {
    display: none;
}
.wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.wrap2 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 100px;
}
.btn-1 {
    border: 1px #1089ff solid;
    color: #1089ff !important;
}
.btn-1:hover {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: #f6f5f5 !important;
}
.btn-2 {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: #f6f5f5 !important;
}
.btn-2:hover {
    border: 1px #0e69c2 solid;
    background-color: #0e69c2;
}
/* MODAL */
.modal {
    max-width: 40%;
    background-color: white;
    color: #202020;
}
.output_field,.user_id {
    display: none;
}
.viaInput_container,.viaTA_container {
    display: none;
}
.textuel {
    width: 95%;
    padding: 35px 0;
    margin-bottom: 30px;
}
h1.title-dashboard {
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;
}
h1.title-dashboard::after {
    position: absolute;
    top: 50px;
    left: 0;
    content: '';
    background-color: white;
    width: 180px;
    height: 5px;
}
.textuel p {
    font-size: .8em;
    padding: 10px;
    border: 1px solid black;
    background-color: #222b3f;
    color: #c9cfdf;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5em;
}

/* HEADER */
#header {
    padding: 10px 10px;
    background-color: #f6f5f5;
    color: black;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(120,120,120,.4);
    -moz-box-shadow: 5px 0px 5px 0px rgba(120,120,120,.4);
    box-shadow: 5px 0px 5px 0px rgba(120,120,120,.4);
    position: fixed;
    width: 400px;
    height: 100%;
    transition: .2s;
    z-index: 99;
    transform: translateX(-83%);
    transition: .2s ease-out;
}
#header.openned {
    transform: translateX(0);
}
#header .first-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo img {
    padding: 5px;
    transition: .2s;
}
#header .logo img:hover {
    opacity: .8;
}
#header .first-bar .hamburger a {
    text-decoration: none;
    padding: 10px;
    color: #1089ff;
    transition: .2s;
}
#header .first-bar .hamburger a:hover {
    opacity: .8;
}
#header .first-bar .hamburger i {
    font-size: 2em;
}
#header .user-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 70px 15px 15px;
    padding: 15px;
    border: 1px #dedede solid;
    border-radius: 15px;
}
#header .user-card .user-icon i {
    font-size: 5em;
}
#header .user-card .user-content h2 {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.2em;
}
#header .user-card .user-content h2 span {
    display: block;
}
#header .user-card .user-content p {
    font-size: .9em;
    line-height: 1.2em;
    margin-bottom: 15px;
}
#header .user-card .user-content a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: .9em;
    transition: .2s;
}
#header nav ul {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
#header nav ul li {
    margin: 15px 0;
}
#header nav ul li a {
    text-decoration: none;
    color: black;
    transition: .2s;
    padding: 7px 10px;
    transition: .2s;
}
#header nav ul li a:hover {
    color: #1089ff;
}
.btn_addtrame {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: #f6f5f5 !important;
    text-decoration: none;
    padding: 10px 13px;
    font-size: 1.3em;
    transition: .2s;
}
#overlay {
    transition: .2s;
}
#overlay.actived {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 80;
}


/* CONTENT */
.uniquemode {
    display: none;
}
.graphique {
    display: none;
}
.textuel_cont {
    display: none;
}

.items h3.graph-title {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 100%;
}
.item {
    padding: 30px;
    float: left;
    width: 500px;
    height: 450px;
    border: 1px solid black;
    background-color: #222b3f;
    border-radius: 10px;
    margin: 10px;
}
/* AFFICHAGE UNIQUE  */
.item_unique_ip {
    padding: 10px;
    width: 500px;
    height: 100px;
}
.item_unique_TTLGRAPH {
    padding: 10px;
    width: 380px;
    height: 330px;
}
.item p {
    font-size: 1.2em;
    color: #c9cfdf;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}

.item p:not(#date) {
    line-height: 1.2em;
    margin-bottom: 20px;
}

.itemw2 {
    width: 300px;
    height: 400px;
}
.itemw3 {
    width: 300px;
    height: 600px;
}
.itemwmax {
    width: 900px;
    height: 300px;
}
/* DATE ET NAVIGATION */
.itemDate{
    padding: 0;
    width: 97%;
    height: 8%;
    text-align: center;
    display: flex;
}

.left_cont,.date_cont, .right_cont{
    width: 33.33333333%;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
.date_cont  {
    width: 33.33333333%;
    cursor: default;
 }
.left_cont {
    border-radius: 10px 0 0 10px;
}
.right_cont {
    border-radius: 0 10px 10px 0;
}
.db_left img, .db_right img {
    width: 14px;
    filter: invert(1);
    transition: 0.3s;
}
.db_left img:hover ,.db_right img:hover {
    filter: invert(0);
    transition: 0.3s;
}
.itemInfoPaquet {
    width: 300px;
    height: 400px;
}
.itemIp {
    width: 300px;
    height: 400px;
}
.notrames{
    text-align: center;
    padding-top: 23%;
}
.notrames p:not(:first-child) {
    margin-bottom: 20px;
}
/* BOUTON */
.select_all {
  display: flex;
  justify-content: center;
}
.select_btnGlob {
  display: flex;
  justify-content: center;
}
.btn_switch {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: #222b3f;
  border-radius: 10px;
  width: 800px;
  margin: 10px;
  padding: 10px;
}
.btn_switch a {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid black;
  background-color: #fff;
  color: #222b3f;
  border-radius: 10px;
  margin: 0 50px;
  padding: 10px;
}
.btn_switch a:hover {
  background-color: #dedede;
  color: #1089ff;
  transition: 0.3s;
}
.select_glob {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: #222b3f;
  border-radius: 10px;
  width: 800px;
  margin: 10px;
  padding: 10px;
}
.select_glob a {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid black;
  background-color: #fff;
  color: #222b3f;
  border-radius: 10px;
  margin: 0 50px;
  padding: 10px;
}
.select_glob a:hover {
  background-color: #dedede;
  color: #1089ff;
  transition: 0.2s;
}
/* MODAL  */
.blocker {
    z-index: 99 !important;
    width: 100% !important;
    left: 0 !important;
}
.modal {
    padding: 0 !important;
    border-radius: 0;
    transition: .2s;
}
.modal form {
    padding: 0 40px 40px 40px;
}
.modal .upload_select {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #f6f5f5;
    border-radius: 0 0 50px 50px;
    background-size: 50px;
}
.modal a.close-modal {
    background-image: url('../img/times-solid.svg') !important;
    background-position-y: 7px !important;
    background-color:  #202020;
    border-radius: 50%;
    transition: .2s;
}
.modal a.close-modal:hover {
    background-color:  #1089ff;
}
.modal a.btn_addcont {
    padding: 10px 13px;
    text-decoration: none;
    color: #1089ff;
    border: 1px #1089ff solid;
    background-color: #f6f5f5;
    transition: .2s;
}
.modal a.btn_addcont:hover {
    color: white;
    border: 1px #1089ff solid;
    background-color:#1089ff;
}
.modal a.active_login {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: white;
    transition: .2s;
    cursor: not-allowed;
}
.modal a.active_login:hover {
    border: 1px #0e69c2 solid;
    background-color: #0e69c2;
}
.modal h1.title-form {
    text-align: center;
    margin: 30px 0;
    font-size: 2.7em;
    font-weight: bold;
}
.modal form label {
    display: block;
    margin: 15px 0 5px 0;
    font-size: 1.4em;
}
.modal form input[type=text], .modal form input[type=email], .modal form input[type=password], .modal textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 1.2em;
    outline: none;
    border: 1px #dedede solid;
    transition: .2s;
    border-radius: none;
}
.modal textarea {
    resize: none;
}
.modal label.jsonfile {
    padding: 7px;
    border: 1px #dedede solid;
    transition: .2s;
    cursor: pointer;
}
.modal label.jsonfile:hover {
    color: #1089ff;
    border: 1px #1089ff solid;
}
.modal input[type=file] {
    display: none;
}
.modal form input[type=text]:focus, .modal form input[type=email]:focus, .modal form input[type=password]:focus, .modal textarea:focus {
    border: 1px #1089ff solid;
    border-top: 1px white solid;
}
#inscription {
    position: relative;
}
.info_mdp {
    display: none;
    background-color: #f6f5f5;
    padding: 5px;
    border: 1px solid grey;
    text-align: center;
    border-top: none;
    width: 100%;
    font-size: 0.8em;
}

.modal form input[type=submit] {
    width: 100%;
    padding: 10px 0;
    margin: 25px 0;
    outline: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: .2s;
}
.modal .error {
    color: crimson;
    margin-left: 15px;
    margin-bottom: 100px;
    font-style: italic;
}
.success {
    text-align: center;
    padding: 50px 0;
}
.success p {
    font-size: 2em;
    color: #08b708;
}
.success img {
    margin-top: 50px;
    width: 25%;
}
#error_password {
    margin-top: 10px;
}

/* FOOTER */
#footer {
    position: fixed;
    width: 100%;
    top: 96.5%;
    left: 0;
    background-color: #1089ff;
    padding: 10px 2%;
    z-index: 999;
}
#footer .footer-content p {
    text-align: center;
    color: white;
    cursor: default;
}

/* RESPONSIVE START */
@media screen and (max-width: 1280px) {
    .blocker {
        width: 200% !important;
        left: -50% !important;
    }
}
@media screen and (max-width: 900px) {
    .blocker {
        width: 250% !important;
        left: -75% !important;
    }
}
@media screen and (max-width: 700px) {
    .modal .upload_select {
        background-image: none;
    }
    .textuel {
        width: 90%;
    }
    .select_all {
        width: 100%;
    }
    .select_btnGlob {
        width: 100%;
    }
    .btn_switch {
        justify-content: flex-start;
    }
    .select_glob {
        justify-content: flex-start;
    }
    .btn_switch a {
        margin: 0 10px;
    }
    .select_glob a {
        margin: 0 10px;
    }
}
@media screen and (max-width: 655px) {
    h1.title-dashboard::after {
        width: 0;
        height: 0;
    }
}
@media screen and (max-width: 500px) {
    #header.openned {
        width: 100%;
    }
    #footer .footer-content p {
        font-size: .9em;
    }
    .select_glob {
      flex-direction: column;
    }
    .select_glob a {
      margin: 5px 0;
      width: 150px;
    }
}
@media screen and (max-width: 400px) {
    .blocker {
        width: 350% !important;
        left: -125% !important;
    }
}
@media screen and (max-width: 375px) {
    #header .user-card {
        flex-direction: column;
        text-align: center;
    }
}

/* CSS END */
