/* IMPORTATION */
@import "reset.css";

/* CSS START */

/*
Couleurs:
OR: #f8bd7f
OR HOVER: #c29363
BLEU: #1089ff
BLEU HOVER: #0e69c2
GRIS: #f6f5f5
*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.btn-1 {
    border: 1px #1089ff solid;
    color: #1089ff !important;
}
.btn-1:hover {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: #f6f5f5 !important;
}
.btn-2 {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: #f6f5f5 !important;
}
.btn-2:hover {
    border: 1px #0e69c2 solid;
    background-color: #0e69c2;
}
.btn-3 {
    border: 1px white solid !important;
    background-color: white;
    color: #1089ff !important;
}
.btn-3:hover {
    background-color: #dedede;
    border: 1px #dedede solid !important;
}

/* HEADER */
#header {
    padding: 30px 2%;
    background-color: #f6f5f5;
    position: fixed;
    width: 100%;
    transition: .2s;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(120,120,120,.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(120,120,120,.4);
    box-shadow: 0px 5px 5px 0px rgba(120,120,120,.4);
    z-index: 99;
}
#header.sticky {
    padding: 10px 2%;
}
#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header nav .logo a {
    text-decoration: none;
    color: black;
    padding: 5px 7px;
}
#header nav .logo img {
    transition: .2s;
}
#header nav .logo img:hover {
    opacity: .8;
}
#header.sticky nav .logo img {
    transform: scale(.7);
}
#header nav ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
}
#header nav ul li a {
    text-decoration: none;
    color: black;
    transition: .2s;
    padding: 7px 10px;
}
#header.sticky nav ul li a {
    text-decoration: none;
    color: black;
    transition: .2s;
    font-size: .9em;
    padding: 7px 10px;
}
#header nav ul li a:hover {
    color: #1089ff;
}
#header .hamburger {
    display: none;
}
#header .hamburger a {
    text-decoration: none;
    padding: 5px;
    color: #1089ff;
    transition: .2s;
}
#header .hamburger a:hover {
    opacity: .8;
}
#header .hamburger i {
    font-size: 1.7em;
}
.openned-hamburger {
    transform: translate(-2%, 60%) !important;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(120,120,120,.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(120,120,120,.4);
    box-shadow: 0px 5px 5px 0px rgba(120,120,120,.4);
}
#overlay {
    transition: .2s;
}
#overlay.actived {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

/* MODAL  */
.blocker {
    z-index: 99 !important;
    width: 150% !important;
    left: -25% !important;
}
.modal {
    padding: 0 !important;
    border-radius: 0;
    transition: .2s;
}
.modal form {
    padding: 0 40px 40px 40px;
}
.modal .login_select {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #f6f5f5;
    border-radius: 0 0 50px 50px;
    background-image: url('../img/exchange-alt-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
.modal .reset_select {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #f6f5f5;
    border-radius: 0 0 50px 50px;
    background-size: 50px;
}
.modal a.close-modal {
    background-image: url('../img/times-solid.svg') !important;
    background-position-y: 7px !important;
    background-color:  #202020;
    border-radius: 50%;
    transition: .2s;
}
.modal a.close-modal:hover {
    background-color:  #1089ff;
}
.modal a.btn_login {
    padding: 10px 13px;
    text-decoration: none;
    color: #1089ff;
    border: 1px #1089ff solid;
    background-color: #f6f5f5;
    transition: .2s;
}
.modal a.btn_login:hover {
    color: white;
    border: 1px #1089ff solid;
    background-color:#1089ff;
}
.modal a.btn_cancel {
    padding: 10px 13px;
    text-decoration: none;
    color: #1089ff;
    border: 1px #1089ff solid;
    background-color: #f6f5f5;
    transition: .2s;
}
.modal a.btn_cancel:hover {
    color: white;
    border: 1px #1089ff solid;
    background-color:#1089ff;
}
.modal a.active_login {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: white;
    transition: .2s;
    cursor: not-allowed;
}
.modal a.active_login:hover {
    border: 1px #0e69c2 solid;
    background-color: #0e69c2;
}
.modal h1.title-form {
    text-align: center;
    margin: 30px 0;
    font-size: 2.7em;
    font-weight: bold;
}
.modal h1.title-reset {
    margin: 0 0;

}
.modal form label {
    display: block;
    margin: 15px 0 5px 0;
    font-size: 1.4em;
}
.modal form input[type=text], form input[type=email], form input[type=password] {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 1.2em;
    outline: none;
    border: 1px #dedede solid;
    transition: .2s;
    border-radius: none;
}
.modal form input[type=text]:focus, form input[type=email]:focus, form input[type=password]:focus {
    border: 1px #1089ff solid;
    border-top: 1px white solid;
}
#inscription {
    position: relative;
}
.info_mdp {
    display: none;
    background-color: #f6f5f5;
    padding: 5px;
    border: 1px solid grey;
    text-align: center;
    border-top: none;
    width: 100%;
    font-size: 0.8em;
}

.modal form input[type=submit] {
    width: 100%;
    padding: 10px 0;
    margin: 25px 0;
    outline: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: .2s;
}
.modal .error {
    color: crimson;
    margin-left: 15px;
    margin-bottom: 100px;
    font-style: italic;
}
.success {
    text-align: center;
    padding: 50px 0;
}
.success p {
    font-size: 2em;
    color: #8cff8c;
}
.success img {
    margin-top: 50px;
    width: 25%;
}
#error_password {
    margin-top: 10px;
}
.modal a#resetpasswd {
    text-decoration: none;
    color: #1089ff;
}
.modal a#resetpasswd:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #1089ff;
}
.modal p.info-reset {
    text-align: center;
    font-style: italic;
    line-height: 1.2em;
    margin-bottom: 15px;
}
.modal p.info-reset::before {
    content: 'Info';
    font-size: 1.5em;
    color: #1089ff;
    font-weight: bold;
    margin-right: 5px;
    font-style: normal;
    opacity: .6;

}

/* passreset */
.blue {
  background-color: #1089ff;
  padding-bottom: 91px;
}
.wrap8 {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
}
#reset_cont {
    padding: 60px 0;
}
.champ mdp2 {
  margin-top: 20px;
}
#reset_cont h1.title-form {
    text-align: center;
    margin: 30px 0;
    font-size: 2.7em;
    font-weight: bold;
    color: white;
}
#reset_cont form {
    font-family: 'Poppins', sans-serif;
}
#reset_cont form label {
    display: block;
    margin: 15px 0 5px 0;
    font-size: 1.4em;
    color: white;
}
#reset_cont form input[type=password] {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 1.2em;
    outline: none;
    border: 1px #cccccc solid;
    transition: .2s;
    border-radius: none;
    background-color: #1089ff;
    color: white;
}
#reset_cont form input[type=password]:focus {
    border: 1px white solid;
    border-top: 1px #1089ff solid;
}
#reset_cont form input[type=submit] {
    width: 100%;
    padding: 10px 0;
    margin: 25px 0;
    outline: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: .2s;
}
#reset_cont .error {
    color: orange;
    margin-left: 15px;
    margin-bottom: 100px;
    font-style: italic;
}
/* ACCUEIL */
#content {
    padding-top: 120px;
}
.flexslider-home {
    z-index: 1;
    border: none;
    margin: 0;
    background-color: transparent;
}
.flex-direction-nav a:before {
    color: rgba(255, 255, 255, .8);
}
.section-subscribeNow {
    padding: 50px 2%;
    background-color: #202020;
    text-align: center;
}
.section-subscribeNow a {
    text-decoration: none;
    padding: 10px 13px;
    font-size: 1.3em;
    transition: .2s;
}
.section-informations {
    padding: 50px 2%;
    background-color: #1089ff;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.section-informations .info-box {
    padding: 20px;
    cursor: default;
    width: 33,3333333%;
}
.section-informations .info-box i {
    font-size: 8em;
    color: white;
    margin-bottom: 40px;
}
.section-informations .info-box h2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-informations .info-box p {
    line-height: 1.5em;
    font-size: 1.1em;
}

/* A PROPOS DE NOUS */
.section-intro {
    background-color: #1089ff;
    padding: 40px 0;
}
.titre3 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
  animation: textAnimationOnLoad .5s ease-in;
}
@keyframes textAnimationOnLoad {
    0%   {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes paraAnimationOnLoad {
    0%   {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes titleAnimationOnLoad {
    0%   {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
p.paraG {
  text-align: center;
  color: white;
  font-size: 1.2em;
  line-height: 1.8em;
  animation: paraAnimationOnLoad .5s ease-in;
}
.paraT {
  line-height: 1.6em;
  color: white;
}
.gras {
  font-weight: bold;
}
.flexslider-carroussel {
  margin-bottom: 0;
  z-index: 1;
  border: none;
  background-color: #1089ff;
}
.titre4 {
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 40px;
  text-align: center;
  animation: titleAnimationOnLoad .5s ease-in;
  line-height: 1.2em;
}
.titre5 {
  text-align: center;
  margin: 50px 0;
  color: #1089ff;
  font-weight: bold;
  font-size: 2em;
}
.section_solution {
  background-color: #202020;
  padding: 80px 25px;
  line-height: 1.6em;
}
.section_solution a {
    text-decoration: none;
    color: #1089ff;
    transition: .2s;
}
.section_solution a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}
.paraH {
  padding: 20px 0;
  margin-top: 20px;
  font-weight: bold;
  line-height: 1.6em;
  font-size: 1.2em;
}
.section_presentation {
    background-color: #1089ff;
  color: black;
  padding: 50px 25px 0 25px;
}
.section_presentation h1, .section_presentation p {
    color: white;
}
.fondateur-box {
    background-color: #1089ff;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 40px 25px;
}
.fondateur {
  padding: 45px 25px;
  border: 3px solid #1080f0;
  border-radius: 20px;
  transition: all .2s;
  cursor: pointer;
}
.fondateur:hover {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    transform: scale(1.05);
  }
.fondateur h1 {
  padding: 15px 30px;
  font-weight: bold;
  font-size: 1.4em;
  color: white;
}
.fondateur p {
  font-size: 1.1em;
  line-height: 1.3em;
  color: white;
}
.fondateur i {
  font-size: 10em;
  color: white;
}
/* ESPACE CLIENT */


/* 404 & 401 */
.section-errorCode {
    padding: 50px 20%;
    background-color: #1089ff;
    text-align: center;
    position: relative;
}
.section-errorCode h2.title-errorCode {
    color: white;
    font-weight: bold;
    font-size: 11em;
}
.section-errorCode p.para-errorCode {
    color: white;
    font-size: 2em;
    font-weight: 200;
}
.section-errorCode a.backToHome {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 12px 16px;
    border: 1px white solid;
    background-color: transparent;
    color: white !important;
    font-size: 1.3em;
    transition: .2s;
}
.section-errorCode a.backToHome:hover {
    background-color: white;
    color: #1089ff !important;
}
.section-errorCode img {
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
}

/* Nous contacter */
.section-contact {
    padding: 50px 20%;
    background-color: #1089ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
}
.section-contact h1.title-form {
    text-align: center;
    margin: 30px 0;
    font-size: 2.7em;
    font-weight: bold;
}
.section-contact form {
    font-family: 'Poppins', sans-serif;
}
.section-contact form label {
    display: block;
    margin: 15px 0 5px 0;
    font-size: 1.4em;
}
.section-contact form input[type=text], .section-contact form input[type=email], .section-contact form input[type=password], .section-contact form textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 1.2em;
    outline: none;
    border: 1px #cccccc solid;
    transition: .2s;
    border-radius: none;
    background-color: #1089ff;
    color: white;
}
.section-contact form input[type=text]:focus, .section-contact form input[type=email]:focus, .section-contact form input[type=password]:focus, .section-contact form textarea:focus {
    border: 1px white solid;
    border-top: 1px #1089ff solid;
}
.section-contact form textarea {
    font-family: 'Poppins', sans-serif;
    resize: vertical;
    height: 200px;
}
.section-contact form input[type=submit] {
    width: 100%;
    padding: 10px 0;
    margin-top: 25px;
    outline: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: .2s;
}
.section-contact .parmessage {
    padding: 25px;
    width: 45%;
    border: 2px solid #127ae2;
    transition: .2s;
}
.section-contact .parmessage:hover {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    transform: scale(1.005);
}
.section-contact .parrs {
    padding: 25px;
    width: 45%;
    border: 2px solid #127ae2;
    transition: .2s;
}
.section-contact .parrs:hover {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.1);
    transform: scale(1.005);
}
.section-contact .rs {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-contact .rs a {
    margin: 52px 0;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 200;
    transition: .2s;
}
.section-contact .rs a:hover {
    color: #dedede;
}
.section-contact .rs i {
    font-size: 2em;
}
.section-logocontact {
    padding: 50px 20%;
    background-color: white;
    position: relative;
    text-align: center;
}
.section-logocontact img {
    width: auto;
}
.section-contact .error {
    color: orange;
}

/* FOOTER */
#footer {
    color: white;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(120,120,120,.4);
    -moz-box-shadow: 0px -5px 5px 0px rgba(120,120,120,.4);
    box-shadow: 0px -5px 5px 0px rgba(120,120,120,.4);
}
#footer .nav-box {
    background-color: #202020;
    padding: 25px 2%;
}
#footer .nav-box nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .nav-box nav .logo a {
    text-decoration: none;
    color: white;
    padding: 5px 7px;
}
#footer .nav-box nav .logo img {
    transition: .2s;
}
#footer .nav-box nav .logo img:hover {
    opacity: .8;
}
#footer .nav-box nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#footer .nav-box nav ul li a {
    text-decoration: none;
    font-size: .9em;
    color: white;
    transition: .2s;
    padding: 5px 7px;
}
#footer .nav-box nav ul li a:hover {
    color: #1089ff;
}
#footer .crafted-box {
    background-color: #202020;
    border-top: 1px #303030 solid;
    padding: 20px 2%;
}
#footer .crafted-box p {
    text-align: center;
    font-size: .9em;
    color: white;
    cursor: default;
}
#footer .crafted-box p i {
    color: red;
}
#footer .copyright-box {
    background-color: #1089ff;
    padding: 15px 2%;
}
#footer .copyright-box p {
    text-align: center;
    color: #dedede;
    cursor: default;
}
/* MENTIONS LEGALES */
.fond {
  background-color: #1089ff;
}
.wrap5 {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      background-color: white;
      padding-left: 20px;
      padding-right: 20px;
  }
.Tittle {
  font-weight: bold;
  font-size: 1.6em;
  padding-top: 80px;
  padding-bottom: 5px;
}
.wrap5 p {
  padding-top: 15px;
  margin-top: 6px;
  opacity: 99%;
  text-align: left;
  line-height: 1.5em;
}
.wrap5 li {
  padding-top: 15px;
  margin-top: 6px;
  text-align: left;
  line-height: 1.1em;
}
.wrap5 b {
  font-weight: bolder;
}
.wrap5 h3 {
  font-weight: bolder;
  padding-top: 20px;
}
.parak {
  padding-bottom: 30px;
}
.Tittle2 {
  font-weight: bold;
  font-size: 3em;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}
/* Dashboard */
.btn_switch {
  text-decoration: none;
  color: yellow;
}

/* RESPONSIVE START */
@media screen and (max-width: 1280px) {
    #header {
        z-index: 15;
    }
    #header .background-fix {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background-color: #f6f5f5;
        z-index: -1;
    }
    #header.sticky .background-fix {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #f6f5f5;
        z-index: -1;
    }
    #header nav ul {
        padding: 15px 0;
        flex-direction: column;
        text-align: center;
        background-color: #f6f5f5;
        position: absolute;
        width: 103%;
        transform: translate(-2%, -120%);
        z-index: -15;
        transition: .2s ease-out;
    }
    #header nav ul li {
        margin: 20px 0;
    }
    #header .hamburger {
        display: block;
    }
    #footer .nav-box nav {
        flex-direction: column;
    }
    #footer .nav-box nav ul {
        width: 60%;
    }
    #footer .nav-box nav .logo img {
        margin-bottom: 35px;
    }
    .blocker {
        width: 200% !important;
        left: -50% !important;
    }
    .fondateur {
        margin: 0 15px;
    }
}
@media screen and (max-width: 1200px) {
    .section-contact .parmessage {
        width: 50%;
        margin: 0 10px;
    }
    .section-contact .parrs {
        width: 50%;
        margin: 0 10px;
    }
}
@media screen and (max-width: 1080px) {
    .section-informations {
        flex-direction: column;
    }
    .section-informations .info-box {
        margin: 25px 0;
    }
    .section-contact {
        background-image: none;
    }
    .fondateur {
        width: 100%;
        max-width: 500px;
        margin: 15px auto;
    }
    .fondateur-box {
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 900px) {
    .section-errorCode {
        padding: 50px 2%;
    }
    .section-errorCode p.para-errorCode {
        font-size: 1.4em;
    }
    .section-errorCode img {
        width: 300px;
    }
    .section-errorCode h2.title-errorCode {
        font-size: 9em;
    }
    .section-errorCode a.backToHome {
        font-size: 1em;
    }
    #footer .nav-box nav ul {
        flex-direction: column;
        text-align: center;
    }
    #footer .nav-box nav ul li {
        margin: 10px 0;
    }
    .blocker {
        width: 250% !important;
        left: -75% !important;
    }
}
@media screen and (max-width: 800px) {
    #footer .crafted-box p {
        font-size: .8em;
    }
    #footer .copyright-box p {
        font-size: .8em;
    }
    .section-contact {
        flex-direction: column;
    }
    .section-contact form {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    #reset_cont {
        padding: 15px;
    }
    #reset_cont form {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .section-logocontact img {
        width: 90%;
    }
    .section-contact .parmessage {
        width: 100%;
        margin: 15px 0;
    }
    .section-contact .parrs {
        width: 100%;
        margin: 15px 0;
    }
}
@media screen and (max-width: 700px) {
    .modal .login_select {
        background-image: none;
    }
    .flexslider img {
        width: 150% !important;
    }
}
@media screen and (max-width: 600px) {
    .blocker {
        width: 300% !important;
        left: -100% !important;
    }
    .section-contact .rs {
        flex-direction: column;
    }
    .section-contact .rs a {
        margin: 15px 0;
    }
}
@media screen and (max-width: 400px) {
    .blocker {
        width: 350% !important;
        left: -125% !important;
    }
}

/* CSS END */
