/* IMPORTATION */
@import "reset.css";

/* CSS START */

/*
Couleurs:
OR: #f8bd7f
OR HOVER: #c29363
BLEU: #1089ff
BLEU HOVER: #0e69c2
GRIS: #f6f5f5
*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.btn-1 {
    border: 1px #1089ff solid;
    color: #1089ff !important;
}
.btn-1:hover {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: #f6f5f5 !important;
}
.btn-2 {
    border: 1px #1089ff solid;
    background-color: #1089ff;
    color: #f6f5f5 !important;
}
.btn-2:hover {
    border: 1px #0e69c2 solid;
    background-color: #0e69c2;
}

/* HEADER */
#header {
    padding: 30px 0;
    background-color: #f6f5f5;
    position: fixed;
    width: 100%;
    transition: .2s;
    z-index: 99;
}
#header.sticky {
    padding: 15px 0;
}
#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header nav .logo a {
    text-decoration: none;
    color: black;
    padding: 5px 7px;
}
#header nav .logo h1 {
    font-size: 2.5em;
    transition: .2s;
}
#header.sticky nav .logo h1 {
    font-size: 2em;
}
#header nav ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
}
#header nav ul li a {
    text-decoration: none;
    color: black;
    transition: .2s;
    padding: 7px 10px;
}
#header.sticky nav ul li a {
    text-decoration: none;
    color: black;
    transition: .2s;
    padding: 5px 7px;
}
#header nav ul li a:hover {
    color: #1089ff;
}

/* ACCUEIL */
#content {
    padding: 100px 0;
}
/* A PROPOS DE NOUS */

.titre3 {
  background-color: #1089ff;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  font-size:2.5em;
  padding: 30px 0;
}
.paraG {
  font-size: 1.4em;
  margin: 30px;
  line-height: 1.8em;
  font-weight: bold;
  opacity: 99%;
}
.paraG p {
  text-align: center;
  margin: 10px;
}
.paraT {
  line-height: 1.6em;
  color: white;
}
.gras {
  font-weight: bold;
}
.or {
  color: #f8bd7f;
}
.flexslider {
  margin-bottom: 30px;
  z-index: 1;
  border: none;
  background-color: transparent;
}
.titre4 {
  color: white;
  font-weight: bold;
  font-size:1.8em;
  margin-bottom: 40px;
}
.titre5 {
  text-align: center;
  margin: 50px 0;
  color: #1089ff;
  font-weight: bold;
  font-size:2em;
  opacity: 90%;
}
.section_solution {
  background-color: #1089ff;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 70%;
  padding: 80px 0;
  line-height: 1.6em;
}
.paraH {
  padding: 20px 0;
  margin-top: 20px;
  font-weight: bold;
  line-height: 1.6em;
  font-size: 1.2em;
}
.section_presentation {
  background-color: #202020;
  color: white;
  padding: 80px 0;
}
.fondateur-box {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.fondateur {
  padding: 15px;
}
.fondateur h1 {
  padding: 30px;
  font-weight: bold;
  font-size: 1.4em;
}
.fondateur p {
  font-size: 1.1em;
  line-height: 1.3em;
}



.fondateur i {
  font-size: 10em;
}
/* ESPACE CLIENT */

/* FOOTER */
#footer {
    padding: 30px 0;
    color: white;
}
#footer .nav-box {
    background-color: #202020;
    padding: 25px 0;
}
#footer .nav-box nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .nav-box nav .logo a {
    text-decoration: none;
    color: white;
    padding: 5px 7px;
}
#footer .nav-box nav .logo h1 {
    font-size: 2.5em;
    transition: .2s;
}
#footer .nav-box nav ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#footer .nav-box nav ul li a {
    text-decoration: none;
    font-size: .9em;
    color: white;
    transition: .2s;
    padding: 5px 7px;
}
#footer .nav-box nav ul li a:hover {
    color: #1089ff;
}
#footer .crafted-box {
    background-color: #202020;
    border-top: 1px #303030 solid;
    padding: 20px 0;
}
#footer .crafted-box p {
    text-align: center;
    font-size: .9em;
    color: white;
    cursor: default;
}
#footer .crafted-box p i {
    color: red;
}
#footer .copyright-box {
    background-color: #1089ff;
    padding: 15px 0;
}
#footer .copyright-box p {
    text-align: center;
    color: #dedede;
    cursor: default;
}

/* RESPONSIVE START */
@media screen and (max-width: 800px) {
  .fondateur-box {
    flex-direction: column;
    justify-content: center;
  }
}

/* CSS END */
